.topContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.button {
  display: block;
  width: max-content;
  margin: 0 auto;
  margin-top: 2rem;
  background-color: #111;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  transition: border 0.3s;
  border: transparent 1px solid;
}

.button:hover {
  border: lightgreen 1px solid;
}
